
body{
    display: grid;
    grid-template: 2fr 11fr min(96px) / 1fr;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
}

.header{
    display: grid;
    grid-area: header;
    font-weight: 900;
    font-size: min(80px);
    align-items: center;
    justify-content: center;
    color: rgb(225, 226, 228);
    padding: min(12px);
    background-color: rgba(69, 119, 82, 0.864);
    box-shadow: 0 min(8px) 4px -4px gray;
}

.body{
    grid-area: body;
    display: grid;
    grid-template: 1fr 7fr / 1fr;
}

.footer{
    grid-area: footer;
    background-color: rgba(69, 119, 82, 0.864);
}

#add-book-button{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: min(24px);
}

button{
    color: rgb(225, 226, 228);
    background-color: rgba(69, 119, 82, 0.864);
    padding: min(12px);
    padding-left: min(24px);
    padding-right: min(24px);
    font-weight: 900;
    border-radius: min(24px);
    box-shadow: 0 min(8px) 4px -4px gray;
}

#book-list{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    list-style-type: none;
    gap: min(24px);
}

#book-list>li{
    display: grid;
    background-color: blanchedalmond;
    padding: min(24px);
    border-radius: min(24px);
    grid-template: 2fr 3fr 1fr 1fr 1fr / 1fr;
    box-shadow: 0 min(8px) 4px -4px gray;
    max-height: 40%;
}

.book-title{
    font-weight: 900;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
}

.options{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.read,
.delete{
    display: grid;
    grid-template: 1fr  / 1fr 3fr;
    font-weight: 900;
}

#add-book-form-container{
    min-height: 50vh;
    z-index: 2;
    background-color: blanchedalmond;
    top: 30%;
    left: 30%;
    width: 40vw;
    height: 50vh;
    position: fixed;
    border-radius: min(24px);
    border-width: 4px;
    border-color: rgba(69, 119, 82, 0.864);
    border-style: solid;
    box-shadow: 0 min(8px) 4px -4px gray;
    display: grid;
    transition: all 1s;
}

#form{
    display: grid;
    padding: min(48px);
    grid-template: 2 1 1 1 1 1 1 1 1 / 1;
    align-items: center;
    justify-content: center;
}

#form>input{
    display: grid;
    border-radius: min(25px);
    min-height: 28px;
    min-width: 220px;
    align-items: center;
    align-content: center;
    border-color: rgba(69, 119, 82, 0.864);
}

#form>label{
    font-weight: 900;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

#form>input[type=submit]{
    color: rgb(225, 226, 228);
    background-color: rgba(69, 119, 82, 0.864);
    padding: min(12px);
    padding-left: min(24px);
    padding-right: min(24px);
    font-weight: 900;
    border-radius: min(24px);
    box-shadow: 0 min(8px) 4px -4px gray;
    font-size: larger;
}

#greyout{
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: gray;
    z-index: 1;
    margin: 0;
    opacity: 85%;
}



